<div class="slider-wrap">
  <div class="container">
    <app-carousel [slides]="slider">

    </app-carousel>
  </div>
</div>

<section class="section-intro">
  <div class="container">
    <h3 class="section-title">I'm a cushion designer</h3>
    <p class="intro-text">Based in San Francisco, California I design trendy and fashion Cushions,<br> since I have memory I always had a tendency to design and illustration.</p>
    <a routerLink="/about" class="btn">Learn more</a>
    <div class="intro-cards">
      <div class="intro-card">
        <img src="../../assets/intro-1.png" alt="About me" class="intro-card__img">
        <div class="intro-card__text">
          <p class="intro-card__title">About me</p>
          <a href="" class="intro-card__link">Learn more</a>
        </div>
      </div>

      <div class="intro-card">
        <img src="../../assets/intro-2.png" alt="My products" class="intro-card__img">
        <div class="intro-card__text">
          <p class="intro-card__title">My products</p>
          <a href="" class="intro-card__link">Learn more</a>
        </div>
      </div>

      <div class="intro-card">
        <img src="../../assets/intro-3.png" alt="Contact me" class="intro-card__img">
        <div class="intro-card__text">
          <p class="intro-card__title">Contact me</p>
          <a href="" class="intro-card__link">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
